<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jumpshare</title>
  <link rel="stylesheet" href="style.css">
  <style>
    * {
      border: 1px black solid;
    }
  </style>
</head>
<body>
  <!-- register -->
  <div class="container">
    <div class="col">
      <div class="row">
          name
      </div>
      <div class="row">
          email
      </div>
      <div class="row">
        password
      </div>
    </div>
  </div>
  <!-- end register  -->


  <!-- login -->

  <!-- end login  -->
</body>
</html>